<div class="mb-4 shadow pl-6">
  <div class="text-sm border-b border-dashed border-gray-200 pb-2 pt-2 flex flex-wrap items-center">
    <%= render_svg "icons/conversation" %>

    <span class="ml-2">
      <%= @user.username %> commented on 
      <%= link_to comment.submission.title, comment.submission, class: "link" %> in 
      <%= link_to community_path(comment.submission.community), class: "link" do %>
        w/<%= comment.submission.community.name %>
      <% end %>
    </span>
  </div>

  <div class="pt-2 pb-4">
    <%= render "submissions/posted_by", submission: comment %>
    <div class="text-gray-800 leading-normal text-sm py-1"><%= comment.reply %></div>
    <%= link_to "Reply", submission_path(comment.submission, anchor: "comment-#{comment.id}"), class: "link text-xs" if user_signed_in? %>
  </div>
</div>
