<div class="pt-1 flex flex-wrap items-center">
  <div class="flex-1">
    <%= link_to submission_path(submission, anchor: "comments"), class: "no-underline mr-2 flex items-center" do %>
      <%= render_svg "icons/conversation", title: "Comments", styles: "fill-current text-gray-500 icon-sm hover:text-gray-600" %>
      <span class="text-sm text-gray-600 ml-2"><%= pluralize(submission.comments.count, 'comment') %></span>
    <% end %>
  </div>

  <div class="flex items-center justify-end">
  <% if author_of?(submission) %>

    <%= link_to edit_submission_path(submission), class: "no-underline mr-2" do %>
      <%= render_svg "icons/edit", title: "Edit", styles: "fill-current text-gray-500 icon-sm hover:text-gray-700" %>
    <% end %>

    <%= link_to submission, method: :delete, class: "no-underline", data: { confirm: "Are you sure?" } do %>
      <%= render_svg "icons/delete", title: "Delete", styles: "fill-current text-gray-500 icon-sm hover:text-gray-700" %>
    <% end %>

  <% end %>
  </div>
</div>
