<div id="submission-<%= submission.id %>" class="border-b border-r border-l">
  <div class="px-2 pt-2 pb-2">
    <%= image_tag submission.submission_image.thumb.url, width: 80, height: 80 if submission.submission_image.present? %>
    <%= video_tag submission.submission_video if submission.submission_video.present? %> 

    <div class="flex items-start">
      <div class="submission-voting text-xs pr-2">
        <%= render "submissions/voting", submission: submission %>
      </div>

      <div class="flex-1 w-full">
        <h3 class="mb-0 flex flex-wrap items-center text-base">
          <% submission_link = submission.url.present? ? submission.url : submission %>
          <%= link_to submission.title, submission_link, class: "no-underline font-semibold" %>

          <% if submission.url %>
            <span class="pl-2 text-xs font-normal font-mono text-blue-400 tracking-tighter">
              <%= link_to truncate(submission.url, length: 18), submission.url, class: "no-underline" %>
            </span>
          <% end %>
        </h3>

        <%= link_to community_path(submission.community), class: "no-underline text-gray-700 font-normal hover:text-gray-700 hover:underline text-sm inline-block" do %>
          w/<%= submission.community.name %>
        <% end %>

        <span class="mx-1 inline-block text-sm text-gray-700">•</span>

        <%= render "submissions/posted_by", submission: submission %>
        <%= render "submissions/actions", submission: submission %>
      </div>

    </div>
  </div>
</div>
